<div id="container">
    <div id="success-box">
        <div class="dot"></div>
        <div class="dot two"></div>
        <div class="face">
            <div class="eye"></div>
            <div class="eye right"></div>
            <div class="mouth happy"></div>
        </div>
        <div class="shadow scale"></div>
        <div class="message">
            <h1 class="alert">Success!</h1>
            <p>yay, your box of joyfulness is on your way.</p>
        </div>
        <div class="inputfield">
            <label for="" >Public Address To transfer token</label>
            <input type="text" class="form-control" [(ngModel)]="model.publicaddrees" name="publicaddrees" #publicaddrees="ngModel" >
        </div>
        <button class="button-box"  type="submit" (click)="onSubmit()"> 
            <h1 class="green">Transfer</h1>
        </button>
    </div>
</div>